#bgImage{
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 6000px;
}  

.bgColor1 {
    background-color: rgba(233, 133, 108, 0.555);
}

.bgColor2 {
    background-color: rgb(180, 23, 128);
}

.bgColor3 {
    background-color: rgba(241, 212, 175, 0.658);
}

.bgColor4{
    background-color: rgba(14, 174, 179, 0.596);
}