.niceFont{ 
    font-family: "brannbollfet", Arial, Helvetica, sans-serif;
    color: #c57416;
    text-shadow: 2px 2px 2px #111111;
}

@font-face {
    font-family: brannbollfet;
    src: url(../fonts/Brannboll_Fet/BrannbollFet.woff);
}