.giveSpace {
    margin-top: 30px;
    margin-bottom: 30px;
}

.giveMoreSpace {
    margin-top: 64px;
    margin-bottom: 64px;
}

.fixBelowNavbar {
    margin-top: 64px;
}

.textToRight {
    padding-left: 60px;
}